### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

# Byte-compiled / optimized / DLL files
__pycache__/

# Scripts for parsing csv files from other projects
file_reformatter/

# Config file
configuration.cfg
